.yvts_course_year { display: inline; padding-left: 30px !important; }
.yvts_thisone { font-weight: 800 !important; }
.yvts_course { margin-left: 0px; }
.yvts_course_description { font-size: 70%; font-weight: normal; }
.yvts_coursenote { font-style: italic; margin-left: 30px; }
.yvts_level { margin-left: 60px; }
.yvts_exam { margin-left: 100px; }
.yvts_delete_button { padding: 1px; }
.yvts_course_edit { font-weight: normal; }
.yvts_input_text { display: block; }
.yvts_input_text > label { clear: left; float: left; display: block; width: 300px; text-align: right; }
.yvts_input_text > input,textarea { display: block; width: 300px; }
.yvts_input_text > input[type=checkbox] { display: block; width: 20px; float: left; }
.yvts_mandatory > input,textarea { background-color: pink; display: block; }
.yvts_field_checkbox { display: inline; }
.yvts_footer { font-size: 80%; margin-top: 100px; }
.yvts_admin_fields { text-align: left; }
